
#a{
    height: 300px;
    width: 300px;
    /* background-color: red; */
    border-radius: 94% 6% 100% 0% / 30% 69% 31% 70% ;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(329deg 100% 36%) 8%,
    hsl(17deg 100% 59%) 17%,
    hsl(55deg 100% 50%) 25%,
    hsl(42deg 100% 50%) 33%,
    hsl(27deg 100% 50%) 42%,
    hsl(0deg 100% 50%) 50%,
    hsl(0deg 100% 50%) 58%,
    hsl(0deg 100% 50%) 67%,
    hsl(0deg 100% 50%) 75%,
    hsl(0deg 100% 50%) 83%,
    hsl(0deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );

}
#b{
    height: 300px;
    width: 300px;
    /* background-color: purple; */
    border-radius: 94% 6% 100% 0% / 100% 0% 100% 0% ;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(304deg 100% 23%) 8%,
    hsl(329deg 100% 36%) 17%,
    hsl(346deg 83% 51%) 25%,
    hsl(17deg 100% 59%) 33%,
    hsl(40deg 100% 50%) 42%,
    hsl(55deg 100% 50%) 50%,
    hsl(49deg 100% 50%) 58%,
    hsl(42deg 100% 50%) 67%,
    hsl(35deg 100% 50%) 75%,
    hsl(27deg 100% 50%) 83%,
    hsl(18deg 100% 50%) 92%,
    hsl(0deg 100% 50%) 100%
  );
}
#c{
    height: 300px;
    width: 300px;
    /* background-color:rgb(104, 25, 168); */
    border-radius: 52% 48% 48% 52% / 100% 0% 100% 0%  ;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(281deg 100% 21%) 8%,
    hsl(304deg 100% 23%) 17%,
    hsl(319deg 100% 30%) 25%,
    hsl(329deg 100% 36%) 33%,
    hsl(336deg 100% 41%) 42%,
    hsl(346deg 83% 51%) 50%,
    hsl(3deg 95% 61%) 58%,
    hsl(17deg 100% 59%) 67%,
    hsl(30deg 100% 55%) 75%,
    hsl(40deg 100% 50%) 83%,
    hsl(48deg 100% 50%) 92%,
    hsl(55deg 100% 50%) 100%
  );

}